.layout-responsible-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding: 0px 16px;
}

/* 모바일 (≤767px) */
@media (max-width: 767px) {
  .layout-responsible-grid {
    display: flex;
    flex-direction: column;
    padding: 0px 16px;
    gap: 40px;
  }
}

/* PC 풀버전 (≥1100px) */
@media (min-width: 1100px) {
  .layout-responsible-grid {
    grid-template-columns: 510px 510px;
    justify-content: center;
  }
  .layout-responsible-grid > * {
    padding: 0px 20px;
  }
}

.layout-column {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
